# Enigma Connect - Environment Variables
# API Base URL
VITE_API_URL=https://api.onward.co.id/connect
VITE_SSO_TARGET_URL_TMS=https://tms.onward.co.id
VITE_SSO_TARGET_URL_WMS=https://wms.onward.co.id

# Environment (development | production)
VITE_APP_NAME=Enigma Connect
VITE_ENV=development
